body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 1.5rem;
  }
  
  input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type="Submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: #218838;
  }

  button[type="return"] {
    align-self: flex-start;
    text-decoration: none;
    text-align: left;
    width: 30%;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 1px;
    position: relative;
    top: 10px;
    left: 0px;
    display: block;
  }

  
  button[type="return"]:hover {
    background-color: #afafaf;
  }
  
  p {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  .link_wrapper{
    text-align: left;
    a {
      color: #007bff;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: none;
    }
  }
  