# Default ignored files
/shelf/
/workspace.xml/
./web-server/database/data.sqlite
.web-server/
/.env/
/server.key/
/server.crt/
/test.py/
.__pycache__/
*.pyc
.gitignore/
.idea/
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
./windows-app/build/
./windows-app/SyncApp.spec